@use '@/shared/styles/variables' as *;

.wrapper {
   margin: 1.2rem 0rem;
   position: relative;
   display: grid;
   row-gap: 0.3rem;

   grid-template-areas:
      "supportingInputs supportingInputs"
      "mainInput submitButton";
   grid-template-columns: 1fr 3rem;
   grid-template-rows: 1fr auto;
}

.overrideInsert {
   position: absolute;
   left: 0;
   bottom: 3.6rem;
   margin: 0rem;
}

.ingredientOptionsList {
   position: absolute;
   left: 0;
   bottom: 3.6rem;
   background-color: $color-background;
   box-shadow:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
   border: 1px black solid;
   list-style: none;
   padding: 0rem;

   li {
      border-bottom: 1px black solid;
      margin: 0rem;
      padding: 0.15rem 1.2rem;

      &:hover {
         cursor: pointer;
         background-color: lightgray !important;
      }

      &:last-child {
         background-color: $color-trinary;
         border-bottom: none;
         font-weight: bold;
      }
   }
}

.mainInput {
   grid-area: mainInput;

   margin: 0rem;
}

.hidden {
   display: none !important;
}

.supportingInputs {
   grid-area: supportingInputs;
   display: flex;
   align-items: flex-end;
   gap: 1.2rem;

   min-height: 0;
   overflow: hidden;
   transition: visibility 0s;

   > * {
      margin: 0rem;
   }
   > .primary {
      flex: 1;
   }
   > :not(.primary) {
      width: 6rem;
   }
}

.submitButtonWrapper {
   grid-area: submitButton;
   justify-content: center;
   align-self: center;

   button {
      font-size: 1.5rem;
      background-color: transparent;
      border: none;

      &:hover {
         cursor: pointer;
      }
   }
}