@use './stateDefaults';

@layer defaults {
   .insertWrapper {
      @extend .insertDefault;
      border: 0.1rem solid #854d0e;
      background-color: rgb(133, 77, 14, .5);
   }

   .rawTextWrapper {
      > * {
         display: inline-block;
      }

      p {
         margin: 0rem 0.6rem;
         width: fit-content;
      }
   }
}